table {
    border-collapse: collapse;
    width: 85%;
}
th, td{
    border: 1px solid #999;
    padding: 8px;
    
}
th {
    background-color: #3498db;
    color: white;
    font-family: Arial,
        sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

td:nth-child(2){
color: #2980b9;
}

td:nth-child(3){
    color: #0f7a1f;
}
td {
    background-color: #f0f8ff;
}